ul{
    display: flex ;
    gap: 17px;
    padding-right: 50px;
    color: white;
    font-weight: 400;
}
li{
    list-style: none;
    padding: 10px;
    color: white;
    
}
nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
  
   background-color: rgb(12, 24, 46);
   padding: 10px;
}
.logo{
    margin-left: 100px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(7, 53, 45);
    padding: 10px;
    border-radius: 20px;
    
}
li:hover{
    font-weight: bold;
    cursor: pointer;
    color: aquamarine;
    

}

footer{
    padding: 20px;
    background-color: rgb(0, 16, 44);
    justify-content: center;
    bottom: 0;
    display: flex;
    margin-top: 16px;
}
.text{
    font-weight: bold;
    color: white;

}